<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>MarketX</h5>
        <p>This is MarketX, a website that sells products online.</p>
      </div>

      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/profile.php?id=100086239997707"
              >Facebook</a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/in/moahmedsorour1998/"
              >LinkedIn</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p><strong>Address:</strong> 5th Settlement, New Cairo, Cairo 11853</p>
        <p><strong>Email:</strong> MarketX@sorour.works</p>
        <p><strong>Phone:</strong> +201112310110</p>
      </div>
    </div>
  </div>
</footer>
